* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

textarea{
    resize: none;
}